body {
    margin: 0;
    background-color: rgb(255, 254, 254);
    min-height: 100vh;   
}

body.no-scroll {
    overflow: hidden;
    height: 100%;
}

.logo {
    height: 50px;
    width: 60px;
    margin: 0;
    padding: 0;
    border-radius: 20%;
}

.divider-line {
    border: none;            
    height: 1px;         
    background-color: #c8c5c5; 
    margin: 2px; 
}

.signUp_header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 460px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5555558e;
    font-size: 14px;
}


.promotion-header {
    display: flex;
    width: 100%;          
    background: linear-gradient(to right, rgb(144, 171, 139), rgb(90, 120, 99));
}

.header-text {
    flex: 1;              
    text-align: center;  
    padding: 8px;      
    font-size: 14px;    
    color: #fff;          
    margin: 0;
}

.search-section {
    position: sticky;
    top: 0;              
    z-index: 1000;       
    background-color: white;
    height: 118px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 50px;
}

.bar {
  width: 600px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  padding-left: 8px;
  font-family: "Google Sans", sans-serif;
  border: 2px solid #90AB8B;
  box-sizing: border-box;
}

.bar:focus {
    outline: none;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 120px;
    padding: 12px;
    gap: 15px;
}

.search-button {
  height: 100%;
  background-color: #90AB8B;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  cursor: pointer;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: #7e9779;
}

.cart-button,
.account-button {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;   
    gap: 5px; 
    border-radius: 10px;
}

.cart-button:hover,
.account-button:hover {
    background-color: rgb(232, 232, 232);
}

.cart-icon,
.account-icon {
    width: 24px;
    height: 24px;
}

.nav-container {
    margin: 10px 10px 10px 120px;
    display: flex;
    gap: 30px;
}

.nav-all {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 16px;
    gap: 5px;
}

.nav-header {
    text-decoration: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 16px;
}

.nav-icon {
    width: 22px;
    height: 22px;
}

.ad-section {
    height: 370px;
    width: 100%;
    background: linear-gradient(to right, rgb(144, 171, 139), rgb(90, 120, 99));;
    padding: 48px 0 48px 0;
}

.ad-wrapper {
    display: flex;
}

.ad-text-container {
    display: grid;
    row-gap: 30px;
}

.ad-container {
    margin: 30px 0 0 120px;
    display: grid;
    row-gap: 20px;
}

.assurance {
    display: flex;
    align-items: center;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.277);
    padding: 4px 16px;
    border-radius: 10px;
    margin: 3px;
    gap: 4px;
}

.assurance-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.assurance-icon {
    height: 18px;
    width: 18px;
}

.kasora-tagline {
    font-weight: 500;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.tagline-subheader {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.ad-buttons-container {
    display: flex;
    gap: 10px;
}

.sourcing-button {
    gap: 5px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    padding: 16px 32px;
    background-color: white;
    color: #5A7863;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.sourcing-button:hover {
    background-color: rgb(238, 238, 238);
}

.demo-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.319);
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px 32px;
    cursor: pointer;
}

.demo-button:hover {
background-color: rgba(255, 255, 255, 0.625);
}

.kasora-ad-container {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 20px;
    margin-top: 10px;
    margin-left: 80px;
}

.samples-icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

.samples-container {
    background-color: rgba(255, 255, 255, 0.195);
    border-radius: 24px;
}

.sample-text1 {
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color: white;
    height: 10px;
    margin-left: 20px;
}

.sample-text2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(234, 234, 234);
    margin-left: 20px;
}

.category-section, 
.suppliers-section {
    margin-top: 5px;
    margin-bottom: 35px;
}

.category-text-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.view-tag {
    color: #90AB8B;
    font-size: 15px;
}

.category-text {
    font-size: 25px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B4953;
    margin-left: 120px;
}

.categories-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.category {
    background-color: transparent;
    border: 2px solid rgb(185, 185, 185);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center; 
    cursor: pointer;
    width: 145px;             
    height: 145px;            
    padding: 35px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    align-items: center;
    justify-content: center;
}

.category:hover {
    box-shadow: 4px 6px 10px rgba(95, 94, 94, 0.474);
}

.category-inside-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgb(40, 55, 35);
    margin-top: 10px;
}

.deals-section {
    
    height: 480px;
}

.deals-header-container {
    display: flex;
    align-items: center;
    margin: 0 120px 0 123px;
    gap: 7px;
}

.view-container {
    display: flex;
    align-items: center;
}

.view-tag {
    display: flex;
    margin-left: 5px;
    gap: 2px;
    color: #6e8f69;
    font-size: 17px;
    align-items: baseline;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}

.view-tag:hover {
    text-decoration: underline;
    text-decoration-color: #6e8f69;
}

.view-icon {
    height: 15px;
    width:  15px;
}

.view-icon:hover {
    text-decoration: underline;
    text-decoration-color: #6e8f69;
}

.deals-text {
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B4953;
    font-weight: bold;
}

.deals-icon {
    height: 28px;
    width: 28px;
}

.deals-time {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color: #5A7863;
    gap: 5px;
    border-radius: 8px;
    padding: 8px;
    margin-left: auto;
}

.deals-container,
.suppliers-container-row1,
.suppliers-container-row2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.indiv-deals,
.indiv-suppliers {
    background-color: white;
    padding: 0 0 20px 0;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 6px 10px rgba(95, 94, 94, 0.474);
}

.indiv-pic-container {
    position: relative;
    border-radius: 20px;
    background-color: white;
}

.indiv-pic-header {
    display: flex;
    justify-content: space-between; 
    gap: 142px;
    align-items: center;
    position: absolute;
    padding: 8px 12px;
}

.indiv-pic-text {
    font-size: 13px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color: #970000;
    padding: 5px 12px;
    border-radius: 12px;
}

.indiv-pic-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff;
    background-color: rgba(44, 44, 44, 0.69);
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 12px;
}

.star-icon {
    height: 12px;
    width: 12px;
}

.indiv-pic {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 20px 20px 0 0; 
}


.indiv-container {
    margin: 20px 20px 0 20px;
    display: grid;
    grid-template-rows:repeat(3, auto);
    row-gap: 10px;
    text-align: left;
}

.indiv-header {
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B4953;
}

.indiv-subheader {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:gray;
}

.indiv-price {
    font-size: 16px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2a801a;
}

.indiv-sold {
    font-size: 12px;
}

.price-sold {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
}

.view-supplier {
    display: flex;
    font-size: 15px;
    border-radius: 10px;
    justify-content: center;
    color: white;
    padding: 10px;
    background-color: #90AB8B;
}

.view-supplier:hover {
    background-color: #90ab8bb8
}

.rated-icon {
    height: 13px;
    width: 13px;
}

.indiv-supplier-text {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 13px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(59, 73, 83);
    background-color: #fdc700;
    padding: 5px 12px;
    border-radius: 12px;
}

.indiv-supplier-header {
    display: flex;
    justify-content: space-between; 
    gap: 120px;
    align-items: center;
    position: absolute;
    padding: 8px 12px;
}

.verification-badge {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(59, 73, 83);
    gap: 5px;
    background-color: #EBF4DD;
    padding: 8px;
    border-radius: 8px;
    width: 65px;
}

.verify-icon {
    height: 14px;
    width: 14px;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    padding: 10px 17px;
    background-color: transparent;
    border-width: 2px;
    border-color: #5A7863;
    border-radius: 10px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: rgba(187, 185, 185, 0.434);
}

.filter-icon {
    height: 13px;
    width: 13px;
}

.deals-supplier-container {
    display: flex;
    align-items: center;
    margin: 0 120px 0 123px;
    gap: 15px;
}

.suppliers-wrapper {
    display: grid;
    row-gap: 15px;
}

.platform-promise-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.platform-promise-text {
    font-size: 32px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B4953;
}

.platform-promise-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 100px;
}

.platform-promise-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    width: 250px;
}

.platform-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.platform-text-1 {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #3B4953;
}

.platform-text-2 {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3B4953;
}

.platform-icon {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background:linear-gradient(135deg, rgb(144, 171, 139) 0%, rgb(90, 120, 99) 100%); 
    padding: 25px;
    border-radius: 50%;
}

.footer-section {
    margin-top: 60px;
    background-color: #3B4953;
    height: 250px;
    padding: 70px 120px 20px 120px
}

.footer-container-1 {
    display: flex;
    gap: 50px;
    margin-bottom: 35px;
}

.kasorra-footer-text {
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(235, 244, 221);
    opacity: 0.7;
}

.kasorra-part {
    display: flex;
    flex-direction: column;
}

.for-buyers-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.for-buyers-header {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(235, 244, 221);
    opacity: 0.9;
}

.buyers-link {
    text-decoration: none;
    color: rgb(235, 244, 221);
    opacity: 0.7; 
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.links-wrapper {
    display: flex;
    gap: 150px;
}

.horizontal-footer-line {
    color: rgb(235, 244, 221);
    opacity: 0.5; 
}

.footer-container-2 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-header-2 {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(235, 244, 221);
    opacity: 0.7;
}

.acc_bg {
    position: fixed;
    top: 50%;            
    left: 50%;            
    transform: translate(-50%, -50%);
    z-index: 1001;
    height: 650px;
    width: 450px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.login_header {
    position: absolute;   
    display: flex;
    align-items: center;
    justify-content: center;
    top: 80px;
    color: rgb(95, 94, 94);
    font-size: 30px;
    font-weight: 650;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login_subheader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 140px;
    color: rgb(95, 94, 94);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email_header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 190px;
    left: 30%;
    color: rgb(87, 87, 87);
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.password_header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    top: 278px;
    left: 23%;
    color: rgb(87, 87, 87);
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.exit_button {
    top: 20px;
    left: 88%;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
}

.exit_button2 {
    top: 22px;
    left: 90%;
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    font-weight: lighter;
}

.form_tag {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input_tag {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 250px;
    height: 20px;
    padding: 12px 50px 12px 5px;
    border-radius: 10px;
    border: 2px solid #a2d09a;
}


/*.input_icon {
    height: 20px;
    width: 20px;
} */

.submit_button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    padding: 15px;
    background: linear-gradient(135deg, rgb(144, 171, 139) 0%, rgb(90, 120, 99) 100%);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.submit_button:hover {
    background: linear-gradient(135deg, rgba(176, 206, 171, 0.834) 0%, rgba(117, 155, 128, 0.821) 100%);
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
}

.lock-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1000;
    top: 35px;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, rgb(144, 171, 139), rgb(90, 120, 99));
    padding: 10px;
    border-radius: 12px;
}

.person-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1000;
    top: 35px;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, rgb(144, 171, 139), rgb(90, 120, 99));
    padding: 10px;
    border-radius: 12px;
}

.thirdParty_container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 510px;
}

.google_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 4px 70px;
    height: 45px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #90AB8B;
    border-radius: 10px;
}

.google_button:hover {
    background-color: rgba(220, 220, 220, 0.332);
}

.google_icon {
    height: 20px;
    width: 20px;
}

.no_acc_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 570px;
    gap: 7px;
}

.no_acc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.sign_up {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #90AB8B;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sign_up:hover {
    text-decoration: underline;
}

.signUp_bg {
    position: fixed;
    top: 50%;             
    left: 50%;            
    transform: translate(-50%, -50%);
    z-index: 1001;
    height: 730px;
    width:630px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow-y: auto;
}

.signUp_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.direction-text {
    position: absolute;
    left: 5%;
    top: 28%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.buy-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 73px;
    gap: 10px;
    background-color: transparent;
    border: 2px solid #EBF4DD;
    border-radius: 10px;
    cursor: pointer;
}

.sell-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 78px;
    gap: 10px;
    background-color: transparent;
    border: 2px solid #EBF4DD;
    border-radius: 10px;
    cursor: pointer;
}

.button_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 34%;
    gap: 10px;
}

.buy-btn:focus,
.sell-btn:focus {
    border: 2px solid #d0e1b5;
    background-color: #e8ede17a;
}

.buy_icon,
.sell_icon {
    height: 35px;
    width: 35px;
}

.sb_header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.sb_subheader {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    color: rgb(91, 91, 91);
}

.Names_signUp_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.replaceable_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buyer_option_Name_input {
    padding: 15px 139px 15px 5px;
    border: 2px solid #EBF4DD; 
    border-radius: 8px;
}

.seller_option_Name_input {
    padding: 15px 125px 15px 5px;
    border: 2px solid #EBF4DD; 
    border-radius: 8px;
}

.buyer_option_Name_input:focus,
.seller_option_Name_input:focus,
.option_email_input:focus,
.option_phone_input:focus,
.option_password_input_confrim:focus,
.option_company_name_input:focus {
    border-color:  #c9e1a3;
    outline: none;
    color: #333;             
}


.option_outer_container {
    position: absolute;
    margin-top: 25px;
    left: 5%;
}

.name_header_option,
.email_input_header,
.option_phone_header,
.option_password_header,
.option_password_header_confirm,
.option_company_name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.option_email_input,
.option_phone_input,
.option_password_input,
.option_password_input_confrim,
.option_company_name_input {
    padding: 15px;
    border: 2px solid #EBF4DD; 
    border-radius: 8px;
}

.option_name_wrapper {
    display: flex;
    gap: 10px;
}

.option_email_container,
.option_phone_container,
.option_password_container,
.company_name_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buyer_option_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}



